<!-- Intro Header -->
<header id="page-top" class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Dreck&shy;iges Gold</h1>
                    <p class="intro-text" style='font-size: 15pt'>
                     In Deutschlands Handelsstatistik finden sich nicht nur hohe Exporte von Autokarosserien und
                   Elektronikartikeln. Firmen und Länder handeln auch begeistert mit Wertstoffen, die sich im Haus- und Industriemüll finden...</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                      <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
